<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section id="formsection">
                <div id="formdiv">
                    <div id="instruction">
                        <h2>Instruction</h2>
                        <p>Put an article in the text form and check the sentiment.</p>
                    </div>
                <form id="textform" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" placeholder="Article">
                    <input id="submitButton" type="button" name="" value="Check" onclick="return Client.handleSubmit(event)"  >
                </form>
                </div>
            <section>

            <section id="resultsection">
                <strong>Results:</strong>
                <div id="results">
                    <div id="polarity"></div>
                    <div id="subjectivity"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
